GUI.NET/GUI.NET/Mantenedores/Mantenedores/Connected Services/wsEstadoCuenta/wsEstadoCuenta.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTotalPagado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="curso" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTotalPagadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetTotalPagadoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeudaTotal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="curso" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeudaTotalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDeudaTotalResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeudaAlumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="curso" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeudaAlumnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDeudaAlumnoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTotalPagadoSoapIn">
    <wsdl:part name="parameters" element="tns:GetTotalPagado" />
  </wsdl:message>
  <wsdl:message name="GetTotalPagadoSoapOut">
    <wsdl:part name="parameters" element="tns:GetTotalPagadoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeudaTotalSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeudaTotal" />
  </wsdl:message>
  <wsdl:message name="GetDeudaTotalSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeudaTotalResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeudaAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeudaAlumno" />
  </wsdl:message>
  <wsdl:message name="GetDeudaAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeudaAlumnoResponse" />
  </wsdl:message>
  <wsdl:portType name="wsEstadoCuentaSoap">
    <wsdl:operation name="GetTotalPagado">
      <wsdl:input message="tns:GetTotalPagadoSoapIn" />
      <wsdl:output message="tns:GetTotalPagadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeudaTotal">
      <wsdl:input message="tns:GetDeudaTotalSoapIn" />
      <wsdl:output message="tns:GetDeudaTotalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeudaAlumno">
      <wsdl:input message="tns:GetDeudaAlumnoSoapIn" />
      <wsdl:output message="tns:GetDeudaAlumnoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsEstadoCuentaSoap" type="tns:wsEstadoCuentaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTotalPagado">
      <soap:operation soapAction="http://tempuri.org/GetTotalPagado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeudaTotal">
      <soap:operation soapAction="http://tempuri.org/GetDeudaTotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeudaAlumno">
      <soap:operation soapAction="http://tempuri.org/GetDeudaAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsEstadoCuentaSoap12" type="tns:wsEstadoCuentaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTotalPagado">
      <soap12:operation soapAction="http://tempuri.org/GetTotalPagado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeudaTotal">
      <soap12:operation soapAction="http://tempuri.org/GetDeudaTotal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeudaAlumno">
      <soap12:operation soapAction="http://tempuri.org/GetDeudaAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsEstadoCuenta">
    <wsdl:port name="wsEstadoCuentaSoap" binding="tns:wsEstadoCuentaSoap">
      <soap:address location="http://localhost:51371/wsEstadoCuenta.asmx" />
    </wsdl:port>
    <wsdl:port name="wsEstadoCuentaSoap12" binding="tns:wsEstadoCuentaSoap12">
      <soap12:address location="http://localhost:51371/wsEstadoCuenta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>