GUI.NET/GUI.NET/Mantenedores/Mantenedores/Connected Services/wsSendMail/wsSendMail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendMailPaid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reciber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_apoderado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_alumno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="monto_abonado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailPaidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMailPaidResult" type="tns:TaskOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaskOfString">
        <s:complexContent mixed="false">
          <s:extension base="tns:Task" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Task" />
      <s:element name="SendMailActivityPaid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reciber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre_apoderado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="curso" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="monto_abonado" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailActivityPaidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMailActivityPaidResult" type="tns:TaskOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMailPaidSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailPaid" />
  </wsdl:message>
  <wsdl:message name="SendMailPaidSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailPaidResponse" />
  </wsdl:message>
  <wsdl:message name="SendMailActivityPaidSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailActivityPaid" />
  </wsdl:message>
  <wsdl:message name="SendMailActivityPaidSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailActivityPaidResponse" />
  </wsdl:message>
  <wsdl:portType name="wsSendMailSoap">
    <wsdl:operation name="SendMailPaid">
      <wsdl:input message="tns:SendMailPaidSoapIn" />
      <wsdl:output message="tns:SendMailPaidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMailActivityPaid">
      <wsdl:input message="tns:SendMailActivityPaidSoapIn" />
      <wsdl:output message="tns:SendMailActivityPaidSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsSendMailSoap" type="tns:wsSendMailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMailPaid">
      <soap:operation soapAction="http://tempuri.org/SendMailPaid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailActivityPaid">
      <soap:operation soapAction="http://tempuri.org/SendMailActivityPaid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsSendMailSoap12" type="tns:wsSendMailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMailPaid">
      <soap12:operation soapAction="http://tempuri.org/SendMailPaid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailActivityPaid">
      <soap12:operation soapAction="http://tempuri.org/SendMailActivityPaid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsSendMail">
    <wsdl:port name="wsSendMailSoap" binding="tns:wsSendMailSoap">
      <soap:address location="http://localhost:51371/wsSendMail.asmx" />
    </wsdl:port>
    <wsdl:port name="wsSendMailSoap12" binding="tns:wsSendMailSoap12">
      <soap12:address location="http://localhost:51371/wsSendMail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>