GUI.NET/GUI.NET/Mantenedores/Mantenedores/Connected Services/wsColegio/wsColegio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReadAllNamesAndIds">
        <s:complexType />
      </s:element>
      <s:element name="ReadAllNamesAndIdsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadAllNamesAndIdsResult" type="tns:ArrayOfColegio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfColegio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Colegio" nillable="true" type="tns:Colegio" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Colegio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Telefono" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadAllNamesAndIdsSoapIn">
    <wsdl:part name="parameters" element="tns:ReadAllNamesAndIds" />
  </wsdl:message>
  <wsdl:message name="ReadAllNamesAndIdsSoapOut">
    <wsdl:part name="parameters" element="tns:ReadAllNamesAndIdsResponse" />
  </wsdl:message>
  <wsdl:portType name="wsColegioSoap">
    <wsdl:operation name="ReadAllNamesAndIds">
      <wsdl:input message="tns:ReadAllNamesAndIdsSoapIn" />
      <wsdl:output message="tns:ReadAllNamesAndIdsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsColegioSoap" type="tns:wsColegioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadAllNamesAndIds">
      <soap:operation soapAction="http://tempuri.org/ReadAllNamesAndIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsColegioSoap12" type="tns:wsColegioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadAllNamesAndIds">
      <soap12:operation soapAction="http://tempuri.org/ReadAllNamesAndIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsColegio">
    <wsdl:port name="wsColegioSoap" binding="tns:wsColegioSoap">
      <soap:address location="http://localhost:51371/wsColegio.asmx" />
    </wsdl:port>
    <wsdl:port name="wsColegioSoap12" binding="tns:wsColegioSoap12">
      <soap12:address location="http://localhost:51371/wsColegio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>