GUI.NET/GUI.NET/Mantenedores/Mantenedores/Connected Services/wsPago/wsPago.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllByAlumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut_alumno" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllByAlumnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllByAlumnoResult" type="tns:ArrayOfResumenPago" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfResumenPago">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ResumenPago" nillable="true" type="tns:ResumenPago" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResumenPago">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Abono" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre_alumno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Rut_alumno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Curso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllByApoderado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut_apoderado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllByApoderadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllByApoderadoResult" type="tns:ArrayOfResumenPago" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSinglePaid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="abono" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="rut_alumno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id_tipo_pago" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateSinglePaidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateSinglePaidResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllByAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllByAlumno" />
  </wsdl:message>
  <wsdl:message name="GetAllByAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllByAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllByApoderadoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllByApoderado" />
  </wsdl:message>
  <wsdl:message name="GetAllByApoderadoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllByApoderadoResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSinglePaidSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSinglePaid" />
  </wsdl:message>
  <wsdl:message name="CreateSinglePaidSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSinglePaidResponse" />
  </wsdl:message>
  <wsdl:portType name="wsPagoSoap">
    <wsdl:operation name="GetAllByAlumno">
      <wsdl:input message="tns:GetAllByAlumnoSoapIn" />
      <wsdl:output message="tns:GetAllByAlumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllByApoderado">
      <wsdl:input message="tns:GetAllByApoderadoSoapIn" />
      <wsdl:output message="tns:GetAllByApoderadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateSinglePaid">
      <wsdl:input message="tns:CreateSinglePaidSoapIn" />
      <wsdl:output message="tns:CreateSinglePaidSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsPagoSoap" type="tns:wsPagoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllByAlumno">
      <soap:operation soapAction="http://tempuri.org/GetAllByAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllByApoderado">
      <soap:operation soapAction="http://tempuri.org/GetAllByApoderado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSinglePaid">
      <soap:operation soapAction="http://tempuri.org/CreateSinglePaid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsPagoSoap12" type="tns:wsPagoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllByAlumno">
      <soap12:operation soapAction="http://tempuri.org/GetAllByAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllByApoderado">
      <soap12:operation soapAction="http://tempuri.org/GetAllByApoderado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSinglePaid">
      <soap12:operation soapAction="http://tempuri.org/CreateSinglePaid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsPago">
    <wsdl:port name="wsPagoSoap" binding="tns:wsPagoSoap">
      <soap:address location="http://localhost:51371/wsPago.asmx" />
    </wsdl:port>
    <wsdl:port name="wsPagoSoap12" binding="tns:wsPagoSoap12">
      <soap12:address location="http://localhost:51371/wsPago.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>