GUI.NET/GUI.NET/Mantenedores/Mantenedores/Connected Services/wsActividadPago/wsActividadPago.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreatePaid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="monto" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_curso" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePaidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreatePaidResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllByCurso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_curso" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllByCursoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllByCursoResult" type="tns:ArrayOfResumenActividadPago" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfResumenActividadPago">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ResumenActividadPago" nillable="true" type="tns:ResumenActividadPago" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResumenActividadPago">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Curso" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Monto" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreatePaidSoapIn">
    <wsdl:part name="parameters" element="tns:CreatePaid" />
  </wsdl:message>
  <wsdl:message name="CreatePaidSoapOut">
    <wsdl:part name="parameters" element="tns:CreatePaidResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllByCursoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllByCurso" />
  </wsdl:message>
  <wsdl:message name="GetAllByCursoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllByCursoResponse" />
  </wsdl:message>
  <wsdl:portType name="wsActividadPagoSoap">
    <wsdl:operation name="CreatePaid">
      <wsdl:input message="tns:CreatePaidSoapIn" />
      <wsdl:output message="tns:CreatePaidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllByCurso">
      <wsdl:input message="tns:GetAllByCursoSoapIn" />
      <wsdl:output message="tns:GetAllByCursoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsActividadPagoSoap" type="tns:wsActividadPagoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePaid">
      <soap:operation soapAction="http://tempuri.org/CreatePaid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllByCurso">
      <soap:operation soapAction="http://tempuri.org/GetAllByCurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsActividadPagoSoap12" type="tns:wsActividadPagoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePaid">
      <soap12:operation soapAction="http://tempuri.org/CreatePaid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllByCurso">
      <soap12:operation soapAction="http://tempuri.org/GetAllByCurso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsActividadPago">
    <wsdl:port name="wsActividadPagoSoap" binding="tns:wsActividadPagoSoap">
      <soap:address location="http://localhost:51371/wsActividadPago.asmx" />
    </wsdl:port>
    <wsdl:port name="wsActividadPagoSoap12" binding="tns:wsActividadPagoSoap12">
      <soap12:address location="http://localhost:51371/wsActividadPago.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>