GUI.NET/GUI.NET/Mantenedores/Mantenedores/Connected Services/wsContrato/wsContrato.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="traerUnContrato">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_curso" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="traerUnContratoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="traerUnContratoResult" type="tns:Contrato" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Contrato">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_contrato" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha_emision" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Id_curso" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetContratos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_curso" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContratosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContratosResult" type="tns:ArrayOfContrato" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContrato">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contrato" nillable="true" type="tns:Contrato" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="traerUnContratoSoapIn">
    <wsdl:part name="parameters" element="tns:traerUnContrato" />
  </wsdl:message>
  <wsdl:message name="traerUnContratoSoapOut">
    <wsdl:part name="parameters" element="tns:traerUnContratoResponse" />
  </wsdl:message>
  <wsdl:message name="GetContratosSoapIn">
    <wsdl:part name="parameters" element="tns:GetContratos" />
  </wsdl:message>
  <wsdl:message name="GetContratosSoapOut">
    <wsdl:part name="parameters" element="tns:GetContratosResponse" />
  </wsdl:message>
  <wsdl:portType name="wsContratoSoap">
    <wsdl:operation name="traerUnContrato">
      <wsdl:input message="tns:traerUnContratoSoapIn" />
      <wsdl:output message="tns:traerUnContratoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContratos">
      <wsdl:input message="tns:GetContratosSoapIn" />
      <wsdl:output message="tns:GetContratosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsContratoSoap" type="tns:wsContratoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="traerUnContrato">
      <soap:operation soapAction="http://tempuri.org/traerUnContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContratos">
      <soap:operation soapAction="http://tempuri.org/GetContratos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsContratoSoap12" type="tns:wsContratoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="traerUnContrato">
      <soap12:operation soapAction="http://tempuri.org/traerUnContrato" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContratos">
      <soap12:operation soapAction="http://tempuri.org/GetContratos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsContrato">
    <wsdl:port name="wsContratoSoap" binding="tns:wsContratoSoap">
      <soap:address location="http://localhost:51371/wsContrato.asmx" />
    </wsdl:port>
    <wsdl:port name="wsContratoSoap12" binding="tns:wsContratoSoap12">
      <soap12:address location="http://localhost:51371/wsContrato.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>